<style>
    .item-icon-left .icon,
    .item-icon-right .icon {
        font-size: 12px;
    }
</style>
<ion-view id="AboutLearningOrganization" view-title="组织机构" cache-view="true">
    <div class="bar bar-header bar-zk">
        <div class="header-left" ng-click="goBack()">
            <span class="button btn-zk icon-left ion-chevron-left">
            </span>
        </div>
        <h1 class="title">组织机构</h1>
    </div>
    <ion-content id="AboutLearningOrganization-content" class="scroll-content zk_content" scroll="true">
        <div class="list">
            <a class="item item-icon-right" ng-click="opLink(item)" ng-repeat="item in listDataSource">
                {{item.MenuName}}
                <i class="icon ion-chevron-right"></i>
            </a>           
        </div>
    </ion-content>
</ion-view>
