<ion-view id="home" view-title="home" cache-view="false">
    <!--头部搜索栏-->
    <div class="bar bar-header bar-zk" style="border-bottom-width:0px;">
        <h1 class="title">中国航空学会</h1>
    </div>
    <ion-content id="home-content ionColor" class="scroll-content ionColor" scroll="true" style="background-color:aliceblue; margin-top:38px;">
        <!--头部滚动条-->
        <div class="headerSlider">
            <div id="headerSlider" class="swiper-container" style="height:260px;">
                <div class="swiper-wrapper" style="height:260px;">
                    <div ng-click="OpenImgLink(item)" class="swiper-slide" ng-repeat="item in headerSlideData">
                        <div class="swiper-title">{{item.title.length>20?item.title.substring(0,18)+'...':item.title}}</div>
                        <img alt="{{item.alt}}" ng-src="{{item.litpic}}">
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- 功能导航 -->
        <nav id="nav" style="background-color:aliceblue;">
            <span ng-click="clickMenu(item)" ng-repeat="item in MainMenuList">
                <img ng-src="{{item.Ico}}" alt="">
                <h2>{{item.MenuName}}</h2>
            </span>
        </nav>
        <div style="padding:30px 10px;">
            <ul>
                <li ng-click="OpenWorkPlay()" ng-show="isHaveWorkPlay" style="position:relative; padding:10px;margin-bottom:10px; border:1px solid #f0f0f0;border-radius:10px;background-color:#fff;">
                    <img style="position:absolute;top:0px;left:20px;" src="../../img/home/playIco.png" />
                    <div style="border-bottom:1px solid #f0f0f0;padding:5px 0px;margin-top:14px;">
                        <span style="font-size:18px;color:#0061bc;">年度工作计划</span>
                        <span style="display:inline-block;float:right;width:50px; vertical-align:middle;color:#b1b1b1;">
                            {{currentMonth}}月
                            <img style="width:15px;padding:0px;margin:0px;vertical-align:middle;" src="../../img/home/click_Ico.png" />
                        </span>
                    </div>
                    <div style="margin-top:10px;color:#6b6b6b;">
                        <p>暂无计划</p>
                    </div>
                </li>
                <li ng-repeat="item in YearPlayData" ng-click="OpenWorkPlay()" style="position:relative; padding:10px;margin-bottom:10px; border:1px solid #f0f0f0;border-radius:10px;background-color:#fff;">
                    <img style="position:absolute;top:0px;left:20px;" src="../../img/home/playIco.png" />
                    <div style="border-bottom:1px solid #f0f0f0;padding:5px 0px;margin-top:14px;">
                        <span style="font-size:18px;color:#0061bc;">年度工作计划</span>
                        <span style="display:inline-block;float:right;width:50px; vertical-align:middle;color:#b1b1b1;">
                            {{currentMonth}}月
                            <img style="width:15px;padding:0px;margin:0px;vertical-align:middle;" src="../../img/home/click_Ico.png" />
                        </span>
                    </div>
                    <div style="margin-top:10px;color:#6b6b6b;">
                        <p>活动名：{{item.name}}</p>
                        <p>规模：{{item.scale}}</p>
                        <p>地点：{{item.addressProvince}}--{{item.addressCity}}</p>
                        <p>内容及目的：{{item.content}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--回到顶部的区块-->
        <div class="back_top"></div>
    </ion-content>
</ion-view>
